h3
{
display: block;
font-size: 40px;
margin-top: 10px;
font-weight: bold;
text-align: center;
}



hr{
    background-color: black;
    height: 2px;
}
#map
{
    height: 87vh;
    width: 98vw;
}
#SearchBarAndButton
{
    text-align: center;
}